<div class="layout-container">
    <nav id="menu">
      <div class="region region-menu">
        <nav role="navigation" id="block-mainnavigation">
          <div id="sitebranding" class="sitebranding">
            <a href="" class="Admin-Text">  
                <span>AdminMovie</span>
            </a>
            <a href="/admin" class="logo">
              <img src="/static/assets/images/logo.png" alt="logo">
            </a>
          </div>
        </nav>
      </div>
    </nav>

    <div *ngIf="movieList.length">
        <h2 class="Movie-Text">Movie List</h2>
<table class="movie-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Director</th>
            <th>Duration</th>
            <th>ImgLink</th>
            <th>
                <button class="create-btn">Create</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movieList">
            <td data-label="ID">{{movie.movieID}}</td>
            <td data-label="Title">{{movie.title}}</td>
            <td data-label="Director">{{ movie.director }}</td>
            <td data-label="Duration">{{ movie.duration }}</td>
            <td data-label="movieLink">{{ movie.movieLink }}</td>
            <td>
                <button class="edit-btn">Edit</button>
                <button class="delete-btn" (click)="deleteMovie(movie)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="form-container">
    <form [formGroup]="movieForm" (ngSubmit)="create()">
      <input type="text" placeholder="Title" id="title" formControlName="title">
      <small>
        <div *ngIf="movieForm.get('title')?.invalid">
            Title is requrired
        </div>
      </small>
      <input type="text" placeholder="Duration" formControlName="duration">
      <input type="text" placeholder="Director" formControlName="director">
      <input type="text" placeholder="movieLink" formControlName="movieLink">
      <div formGroupName="genre">
        <span>Genre</span>
        <select formControlName="genreID">
          <option value="">Select Genre</option>
          <option *ngFor="let genre of genreList" [value]="genre.genreID">
            {{ genre.genreName }}
          </option>
        </select>
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
  

  
