<div class="layout-container">
    <nav id="menu">
      <div class="region region-menu">
        <nav role="navigation" id="block-mainnavigation">
          <div class="navbar-left">
            <ul class="menu">
              <li class="menu-item-expand">
                <span class="icon-bio">Biografer <span class="arrow" [class.up]=""></span></span>
                <div class="cinema-list" id="cinemaList">
                  <div class="cinema-column">
                    <span></span>
                    <ul>
                      <li>
                        <a href="#"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
  
          <div id="sitebranding" class="sitebranding">
            <a href="" class="Admin-Text">  
                Admin
            </a>
            <a href="/admin" class="logo">
              <img src="/static/assets/images/logo.png" alt="logo">
            </a>
          </div>
  
          <div class="navbar-right">
            <div class="Area-List">
              <select class="Area-select">
                <option class="Area-Select-Option"></option>
              </select>
              
            </div>
            <a href="/adminmovie">
                <span>Admin Test</span>
            </a>
          </div>
  
        </nav>
      </div>
    </nav>

</div>
