<div class="container">
  <div id="signin-section" class="signin-section show">
    <h2 class="login-text roboto-bold">Log ind</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Adgangskode" required>
      <div class="center">
          <a href="#" class="forgot-password roboto-thin">Glemt Din Adgangskode?</a>
      </div>
      <div class="center">
          <a (click)="showSignupDesign()" class="forgot-password roboto-thin">Har du ingen konto?</a>
      </div>
      <div class="center">
          <button type="submit" class="sign-in-button">Log ind</button>
      </div>
    </form>
  </div>
  <!-- <div class="show-signup-section show" id="show-signup-section">
    <h1>Ingen profil?</h1>
    <p>Tvivl ej, opret din helt egen profil, gratis!</p>
    <button (click)="showSignupDesign()" class="sign-up-button">Tilmeld dig</button>
  </div> -->
  <div class="signup-section" id="signup-section">
    <h2 class="login-text roboto-bold">Sign Up</h2>
    <form class="login-form">
        <input type="text" placeholder="Navn" required>
        <input type="email" placeholder="Email" required>
        <input type="phonenumber" placeholder="Tlf" required>
        <input type="password" name="password" placeholder="Adgangskode" required (blur)="onInputBlur($event.target)" (focus)="onInputFocus($event.target)" (input)="onInputChange($event.target)">
        <div id="password-requirements" class="password-requirements">
            <div class="pass-req-group">
                <span id="pass-length-span">No</span><p class="roboto-thin">At least 8 characters</p>
            </div>
            <div class="pass-req-group">
                <span id="pass-digit-span">No</span><p class="roboto-thin">Contains a digit</p>
            </div>
            <div class="pass-req-group">
                <span id="pass-lowercase-span">No</span><p class="roboto-thin">Contains a lowercase letter</p>
            </div>
            <div class="pass-req-group">
                <span id="pass-uppercase-span">No</span><p class="roboto-thin">Contains an uppercase letter</p>
            </div>
            <div class="pass-req-group">
                <span id="pass-symbol-span">No</span><p class="roboto-thin">Contains a symbol</p>
            </div>
        </div>
        <input type="password" placeholder="Genindtast adgangskode" required>
        <div class="center">
            <a (click)="showSignupDesign()" class="forgot-password roboto-thin">Har du allerede en bruger?</a>
        </div>
        <div class="center">
            <button type="submit" class="sign-in-button">Tilmeld dig</button>
        </div>
    </form>
</div>



<!--   
  <div class="wrapper">
    <div class="login-content">
      <div class="center">
        <h1 class="loginTitle">Login Page</h1>
      </div>
      <div class="center">
        <form class="loginForm">
          <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div style="padding-top: 2rem"class="input-group">
            <label for="password">Password </label>
            <div class="passwordDiv">
              <input class="passwordInput" type="password" id="password" name="password" required>
              <div class="hidePasswordBtn" (click)="showPassword()">Hide</div>
            </div>
          </div>
          <div style="padding-top: 2rem;" class="center">
            <button class="loginButton" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <app-costumer> -->
  
  <!-- <script>
    function hidePassword() {
      console.log("hidepassword method hit")
      var passwordInput = document.getElementById("password");
      var hidePasswordBtn = document.getElementsByClassName("hidePasswordBtn")[0];
  
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        hidePasswordBtn.innerHTML = "Show";
      } else {
        passwordInput.type = "password";
        hidePasswordBtn.innerHTML = "Hide";
      }
    }
  </script> -->