<nav class="booking-nav">
    <a href="/" class="logo">
        <img src="/static/assets/images/logo.png" alt="logo">
    </a>
    <div class="movie-info-mid">
        <div class="movie-desc">
            <h1 class="movie-title">The Dark Knight</h1>
            <p class="movie-info">1 time 41 min</p>
        </div>
        <div class="bio-info">
            <p class="bio">Falkoner Bio</p>
            <p class="bio-movie-info">
                <span>Bio 5</span>
                <span>Onsdag, 8 maj.</span>
                <span>11:30 - 13:31</span>
                <span>2D Dansk tale</span>
            </p>
        </div>
    </div>
</nav>
<div class="body-container">
    <div class="booking-container">
        <div class="member-announce">
            <h1>Er du CMPlus medlem?</h1>
            <span>
                <p>Log ind for at se tilbud og for at bruge et abbonoment</p>
                <button class="member-btn">Log ind</button>
            </span>
        </div>
        <h1 class="choose-headline">Vælg biletter</h1>
        <div class="ticket">
            <div class="right-site">
                <p class="seat-name">Normal Sæde</p>
                <p class="seat-price">130 DKK/billet</p>
            </div>
            <div class="left-site">
                <button class="ticket-btn minus">-</button>
                <span>0</span>
                <button class="ticket-btn plus">+</button>
            </div>
        </div>
        <div class="ticket">
            <div class="right-site">
                <p class="seat-name">Barn u. 12 år Luksus</p>
                <p class="seat-price">100 DKK/billet</p>
            </div>
            <div class="left-site">
                <button class="ticket-btn minus">-</button>
                <span>0</span>
                <button class="ticket-btn plus">+</button>
            </div>
        </div>
        <div class="ticket">
            <div class="right-site">
                <p class="seat-name">Senior 65+ Luksus</p>
                <p class="seat-price">100 DKK/billet</p>
            </div>
            <div class="left-site">
                <button class="ticket-btn minus">-</button>
                <span>0</span>
                <button class="ticket-btn plus">+</button>
            </div>
        </div>
    </div>
    <div class="cinema-container">
        <div class="cinema">
            <h1 class="choose-headline">Vælg siddepladser</h1>
            <div class="screen"></div>
            <span class="screen-name">LÆRRED</span>
            <div class="seats">
                <div class="row">
                    <span class="row-name">01</span>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <span class="row-name right">01</span>
                </div>
                <div class="row">
                    <span class="row-name">02</span>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <span class="row-name right">02</span>
                </div>
                <div class="row">
                    <span class="row-name">03</span>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <span class="row-name right">03</span>
                </div>
                <div class="row">
                    <span class="row-name">04</span>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <span class="row-name right">04</span>
                </div>
                <div class="row">
                    <span class="row-name">05</span>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <span class="row-name right">06</span>
                </div>
                <div class="row">
                    <span class="row-name">07</span>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <span class="row-name right">07</span>
                </div>
                <div class="row">
                    <span class="row-name">08</span>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <span class="row-name right">08</span>
                </div>
                <div class="row">
                    <span class="row-name">09</span>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <span class="row-name right">09</span>
                </div>
                <div class="row">
                    <span class="row-name">10</span>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <span class="row-name right">10</span>
                </div>
                <div class="row">
                    <span class="row-name">11</span>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faCouch" class="seat"></fa-icon>
                    <fa-icon [icon]="faWheelchairMove" class="seat seatwheelchair"></fa-icon>
                    <fa-icon [icon]="faWheelchairMove" class="seat seatwheelchair"></fa-icon>
                    <fa-icon [icon]="faWheelchairMove" class="seat seatwheelchair"></fa-icon>
                    <span class="row-name right">11</span>
                </div>
            </div>
        </div>
    </div>
</div>