<!-- <nav class="navbar">
  <ul>
    <li>
      <a class="roboto-bold-italic" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/movies" routerLinkActive="active">Movies</a>
    </li>
    <li>
      <a routerLink="/bookings" routerLinkActive="active">Bookings</a>
    </li>
  </ul>
  <div class="activeArea">
    <select class="custom-select">
      <option value="volvo">Aalborg</option>
      <option value="saab">Aarhus</option>
      <option value="mercedes">København</option>
      <option value="audi">Odense</option>
    </select>
  </div>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/logout" routerLinkActive="active">Logout</a>
</nav>
<div class="frontpage">
    <p>FRONT PAGE!</p>
    <p>DIN VALGTE BY!: {{chosenCity}}</p>
</div>
<footer class="footer">
  <p>© 2024 CinemaBooking</p>
</footer> -->


<div class="layout-container">
  <nav id="menu">
    <div class="region region-menu">
      <nav role="navigation" id="block-mainnavigation">
        <ul class="menu">
          <li class="menu-item-expand">
            <span class="icon-bio" (click)="toggleCinemaDisplay()">Biografer <span class="arrow" [class.up]="showCinemaList"></span></span>
            <div class="cinema-list" id="cinemaList">
              <div class="cinema-column">
                <span>Storkøbenhavn</span>
                <ul>
                  <li>
                    <a href="">Dagmar</a>
                  </li>
                  <li>
                    <a href="">Falkoner Bio</a>
                  </li>
                </ul>
              </div>

              <div class="cinema-column">
                <span>Jylland</span>
                <ul>
                  <li>
                    <a href="">Dagmar</a>
                  </li>
                  <li>
                    <a href="">Falkoner Bio</a>
                  </li>
                </ul>
              </div>

              <div class="cinema-column">
                <span>Jylland</span>
                <ul>
                  <li>
                    <a href="">Dagmar</a>
                  </li>
                  <li>
                    <a href="">Falkoner Bio</a>
                  </li>
                </ul>
              </div>
            </div>

          </li>
        </ul>
      </nav>
    </div>
  </nav>
</div>

