<div class="frontpage">
    <div class="logo">
        <a>
            <img src="https://www.nfbio.dk/themes/custom/nfbiodk/logo.svg" alt="logo">
        </a>
    </div>
    <div class="choose-area-wrapper">
        <div class="area-container">
            <div class="area-content">
                <p class="header">Vælg by</p>
                <div class="btn-areas">
                    <button (click)="onAreaButtonClick('Copenhagen')" class="area-btn">København</button>
                    <button (click)="onAreaButtonClick('Aarhus')" class="area-btn">Aalborg</button>
                    <button class="area-btn">Aarhus</button>
                    <button class="area-btn">Esbjerg</button>
                    <button class="area-btn">Frederikssund</button>
                    <button class="area-btn">Odense</button>
                    <button class="area-btn">Esbjerg</button>
                    <button class="area-btn">Frederikssund</button>
                    <button class="area-btn">Odense</button>
                    <button class="area-btn">Esbjerg</button>
                    <button class="area-btn">Frederikssund</button>
                    <button class="area-btn">Odense</button>
                    <button class="area-btn">Esbjerg</button>
                    <button class="area-btn">Frederikssund</button>
                    <button class="area-btn">Odense</button>
                </div>
            </div>
        </div>
    </div>
</div>